body {
    background: black;
}

h1.ui.header{
    color: white;
}

.ui.inverted.segment, .ui.primary.inverted.segment{
    background: -moz-linear-gradient(top, hsla(0,0%,0%,0.65) 16%, hsla(0,0%,0%,0.65) 21%, hsla(0,0%,0%,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, hsla(0,0%,0%,0.65) 16%,hsla(0,0%,0%,0.65) 21%,hsla(0,0%,0%,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, hsla(0,0%,0%,0.65) 16%,hsla(0,0%,0%,0.65) 21%,hsla(0,0%,0%,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    min-height: 70;
    padding: '1em 0em';
}

.srd-diagram {
    height: 100vh;
}
